*{
    padding: 0;
    margin: 0;
}
.template{
    width: 1000px;
    margin: 0 auto;
}
.top_section{
    height: 500px;
    background-color: red;
    width: 100%;
}
.top_header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
}
.navbar{
    
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar ul li{
    list-style: none;
    margin-left: 20px;

}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.social_icon{}
.social_icon i{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.item1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
.item_left{
    width: 50%;
}
.item_left h1{
    text-align: center;
    color: white;
    padding: 20px;
}
.item_left p{
    color: azure;
    text-align: justify;
    padding: 20px;
}
.item_left button{
    background: red;
    color: white;
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.item_right{
    width: 50%;
}
.item_right img{
    height: 300px;
    width: 90%;
}
.carousel-indicators button{
    height: 15px !important;
    width: 15px !important;
    border-radius: 100% !important;
}

/* Product Slide CSS Start */
.products {
    width: 1000px;
    margin: 0 auto;
}
.menues_slide{
    width: 100%;
    margin: 0 auto;
}
.menues_slide button{
    display: block;
    margin: 0 auto;
    background-color: yellow;
    color: black;
    border-radius: 20px;
    padding: 8px 30px;
    margin-top: -23px;
    margin-bottom: 15px;
}

.item{
    text-align: center;
}
.item img{
    height: 60px ;
    width: 50px ;
    

}
.item h5{}
.owl-nav{

}
.owl-nav button{
    position: absolute;
    margin: 0;
    top: 15%;  
}
.owl-nav button.owl-prev{
    left: 0;
}
.owl-nav button.owl-next{
    right: 0;
}
.owl-nav span {
    font-size: 26px;
    background: pink;
    color: white;
    padding: 5px;
    margin: -11px;
}

/* Restaurent Offer Section CSS start */

.restaurent_offer {
    display: flex;
    align-items: center;
    height: 500px;
    background: skyblue;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
}
.offer_row1{
    height: 40%;
    display: flex;
    justify-content: space-around;
}
.offer_item {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 32%;
    align-items: center;
}
.offer_left {
    width: 40%;
}
.offer_left h2 {
    font-size: 20px;
}
.offer_left p{
    text-align: justify;
    font-size: 10px;
}
.offer_left h3 {
    font-size: 15px;
}
.offer_right{
    width: 60%;
}
.offer_right img {
    height: 140px;
    width: 150px;
    border-radius: 16px;
    margin: 10px;
}
.offer_row2{
    height: 40%;
    display: flex;
    justify-content: space-around; 
}
.offer_items{
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    align-items: center;
}
.offer_items .offer_left{
    width: 50%;
}
.offer_items .offer_right{
    width: 50%;

}